@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 100% 96%;
    --foreground: 24 9.8% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 9.8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 45 100% 51%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 45 20% 92%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 45 20% 92%;
    --muted-foreground: 24 5.9% 40%;
    --accent: 14 100% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 20% 88%;
    --input: 45 20% 95%;
    --ring: 14 100% 57%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 9.8% 10%;
    --foreground: 0 0% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 24 9.8% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 100% 51%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 24 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 24 3.7% 15.9%;
    --muted-foreground: 24 5.9% 63%;
    --accent: 14 100% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 3.7% 15.9%;
    --input: 24 3.7% 15.9%;
    --ring: 14 100% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
